{% load i18n %}

<div class="alert alert-info">
    {% blocktrans with url=webhook_url trimmed %} A webhook must be configured
    in your PostFinance Checkout space to the following endpoint for automatic
    payment status updates:
    <code>{{ url }}</code>
    {% endblocktrans %}
    <br /><br />
    {% blocktrans trimmed %} You can set this up automatically using the buttons
    next to your authentication keys above, or configure it manually in your
    PostFinance Checkout dashboard.
    {% endblocktrans %}
</div>

<div
    class="postfinance-action-group form-group"
    data-move-after="id_payment_postfinance_auth_key"
>
    <div class="col-md-9 col-md-offset-3">
        <button
            type="button"
            class="btn btn-default postfinance-test-connection"
            data-test-url="{{ test_url }}"
            data-mode="live"
        >
            {% trans "Test connection" %}
        </button>
        <button
            type="button"
            class="btn btn-default postfinance-setup-webhooks"
            data-setup-url="{{ setup_webhooks_url }}"
            data-mode="live"
        >
            {% trans "Setup webhooks" %}
        </button>
        <span class="postfinance-action-result"></span>
    </div>
</div>

<div
    class="postfinance-action-group form-group"
    data-move-after="id_payment_postfinance_test_auth_key"
>
    <div class="col-md-9 col-md-offset-3">
        <button
            type="button"
            class="btn btn-default postfinance-test-connection"
            data-test-url="{{ test_url }}"
            data-mode="test"
        >
            {% trans "Test connection" %}
        </button>
        <button
            type="button"
            class="btn btn-default postfinance-setup-webhooks"
            data-setup-url="{{ setup_webhooks_url }}"
            data-mode="test"
        >
            {% trans "Setup webhooks" %}
        </button>
        <span class="postfinance-action-result"></span>
    </div>
</div>
